.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 50%;
    margin: 4rem auto;
    height: auto;
    text-align: center;
    letter-spacing: 0.1rem;
    opacity: 0.25;
    color: #fce149;
}


@media screen and (max-width: 768px) {
    .quotes {
        margin: 3rem auto;
        font-size: 1rem;
    }
}