.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 50%;
    margin: 5rem auto;
    height: auto;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .quotes {
        margin: 4rem auto;
    }
}