.social-links {
    display: flex;
    gap: 3rem;
    margin: 1rem auto;
    justify-content: center;
    height: auto;
}

.icon-svg:active {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.icon-svg:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}