.social-links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    height: auto;
    margin-top: 0.1rem;
    margin-bottom: 2.5rem;
}

.icon-svg:active {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.icon-svg:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    .social-links {
        gap: 2rem;
        margin-top: 0rem;
    }
}