.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    background-color: #000;
    color: #fff;
    justify-content: center;
    height: auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 510;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

p {
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 350;
    line-height: 25px;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

@media screen and (max-width: 768px) {
    
    .header-container {
        margin-top: 25px;
    }
    
    h1 {
        font-size: 1.8rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    p {
        font-size: 1.1rem;
        letter-spacing: 3px;
        font-weight: 350;
        line-height: 25px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}