.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    background-color: #000;
    color: #fff;
    justify-content: center;
    height: auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 510;
    padding-top: 15px;
    padding-bottom: 25px;
}

p {
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 350;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}